<div class="comment">
  <div class="comment-user">
    <%= comment.user.email %>
    <span class="comment-user-time">
      <%= comment.updated_at.strftime("%m/%d/%Y | %I:%M %P") %>
    </span>
  </div>
  <div class="comment-text">
    <%= comment.body %>
  </div>

  <span>
    <%= link_to 'Destroy Comment', [comment.post, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </span>
</div>