<div class="tags flexible">
    <h2>All Tags</h2>
    <% if user_signed_in? %>
        <%= link_to "New Tag", new_tag_path %>
    <% end %>
    <%= link_to "Search Tags", tags_search_path %>
    <div>
        <%= render @tags %>
    </div>
</div>