<%= link_to post_path(post), class: "post-preview" do %>
    <h2><%= post.title %></h2>
    <p><%= post.tldr %></p>
    <span class="post-preview-time">
        <%= post.updated_at.strftime("%m/%d/%Y | %I:%M %P") %>
    </span>
<% end %>
