<div class="welcome">
    <h1>Hello!</h1>

    <h2>Welcome to Blog 2, Electric Boogaloo</h2>
    <p>
    I wrote a blog sometime in 2019, using Rails on the backend and ReactJS on the frontend.
    Frankly, it was terrible. I hadn't done a good job at learning all the ins and outs of
    the Rails framework and so my end product wasn't great. So, I built this new one during the summer
    of 2020 to relearn how to use the framework. This time I refrained from using a JS framework for
    the frontend. It was overkill to begin with anyway.
    </p>

    <h2>Tools used</h2>
        <ul>
            <li>Ruby On Rails - Backend Framework</li>
            <li>PostgresSQL - Database Engine</li>
            <li>Devise - User Authentication / Security</li>
            <li>SCSS - CSS Transipler</li>
        </ul>
</div>
