// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment {
  margin: 20px 0px;

  &-user {
    font-weight: bold;

    &-time {
      font-weight: lighter;
      color: grey;
    }
  }

  &-text {
  }
}
