@import "variables";
.posts {
  width: 100%;

  &-search {
  }
}

.post {
  display: flex;
  margin-bottom: 20px;
  &-content {
    width: 80%;
    padding-right: 30px;

    &-text {
      * {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  &-sidebar {
    width: 20%;
  }

  &-new {
    width: 100%;

    &-field {
      margin-bottom: 10px;
    }
  }
}

.post-preview {
  color: $soft-grey !important;
  width: 90%;
  text-align: left;
  border-bottom: 1px dashed lightgrey;
  padding: 10px 10px 0px 10px;

  &-link {
    h2 {
      display: inline-block;
      margin-bottom: 0px;
    }

    span {
      font-weight: lighter;
      color: grey;
    }
  }

  &-tags {
    max-width: 40%;
  }
}
